body {
    height: 3500px;
    background-color: #000;
}

main {
    max-width: 600px;
}

.one {
    background-color: #000;
    transition: all 1s;
}

.two {
    background-color: #fff;
    transition: all 1s;
}

/* .start {
    animation: zoomIn 1s ease forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}

.end {
    animation: zoomOut 1s ease forwards;
}

@keyframes zoomOut {
    0% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
} */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#camera {
    position: fixed;
    display: block;
    aspect-ratio: auto;
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 100px;
}

#hydrangeas {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 100px;
    right: 500px;
    top: 175px;
    z-index: 0;
}

#image1 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 150px;
    right: 50px;
    top: 1000px;
    z-index: -1;
}

#image2 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 150px;
    left: 50px;
    top: 1500px;
    z-index: -3;
}

#image3 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 150px;
    left: 150px;
    top: 1700px;
    z-index: -2;
}

#image4 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 125px;
    left: 50px;
    top: 2175px;
    z-index: -4;
}

#image5 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 175px;
    right: 50px;
    top: 2150px;
    z-index: -5;
}

#image6 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 310px;
    margin: auto;
    left: 0;
    right: 0;
    top: 2750px;
    z-index: -6;
}

#image7 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 150px;
    right: 50px;
    top: 3250px;
    z-index: -6;
    padding-bottom: 100px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
}

#blurb {
    position: absolute;
    left: 100px;
    top: 750px;
    width: 50vw;
}

@keyframes textTranslateDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}

@media only screen and (min-width: 600px) {
    body {
        height: 5500px;
    }

    p {
        font-size: 16px;
    }

    #camera {
        width: 50vw;
    }

    #hydrangeas {
        width: 10vw;
    }

    #image1 {
        width: 30vw;
        right: 100px;
        top: 1000px;
    }

    #hover1 {
        position: absolute;
        display: block;
        width: 30vw;
        right: 100px;
        top: 1000px;
    }

    #image2 {
        width: 30vw;
        left: 300px;
        top: 1750px;
    }

    #hover2 {
        position: absolute;
        display: block;
        width: 30vw;
        right: 300px;
        top: 1750px;
    }

    #image3 {
        width: 30vw;
        left: 600px;
        top: 2300px;
    }

    #hover3 {
        position: absolute;
        display: block;
        width: 30vw;
        left: 600px;
        top: 2300px;
    }

    #image4 {
        width: 30vw;
        left: 100px;
        top: 3500px;
    }

    #hover4 {
        position: absolute;
        display: block;
        width: 30vw;
        left: 100px;
        top: 3500px;
    }

    #image5 {
        width: 40vw;
        right: 100px;
        top: 3050px;
    }

    #hover5 {
        position: absolute;
        display: block;
        width: 40vw;
        right: 100px;
        top: 3050px;
    }

    #image6 {
        width: 40vw;
        top: 4275px;
    }

    #hover6 {
        position: absolute;
        display: block;
        width: 40vw;
        margin: auto;
        left: 0px;
        right: 0;
        top: 4275px;
    }

    #image7 {
        width: 30vw;
        right: 100px;
        top: 5000px;
        padding-bottom: 100px;
    }

    #hover7 {
        position: absolute;
        display: block;
        width: 30vw;
        right: 100px;
        top: 5000px;
    }

    .texthover {
        animation: textTranslateDown 1s ease forwards infinite;
    }
}