body {
    height: 5500px;
    background-color: #000;
}

.one {
    background-color: #000;
    transition: all 1s;
}

.two {
    background-color: #fff;
    transition: all 1s;
}

.start {
    animation: zoomIn 1s ease forwards infinite;
}

@keyframes zoomIn {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(100px);
    }
}

.end {
    animation: zoomOut 1s ease forwards infinite;
}

@keyframes zoomIn {
    0% {
        transform: translate(100px);
    }
    100% {
        transform: translate(0px);
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

#overlay {
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
}

#camera {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 50vw;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 100px;
}

#hydrangeas {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 10vw;
    right: 500px;
    top: 175px;
    z-index: 0;
}

#image1 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 30vw;
    right: 100px;
    top: 1000px;
    z-index: -1;
}

#hover1 {
    position: absolute;
    display: block;
    width: 30vw;
    right: 100px;
    top: 1000px;
}

#image2 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 30vw;
    left: 300px;
    top: 1750px;
    z-index: -3;
}

#hover2 {
    position: absolute;
    display: block;
    width: 30vw;
    right: 300px;
    top: 1750px;
}

#image3 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 30vw;
    left: 600px;
    top: 2300px;
    z-index: -2;
}

#hover3 {
    position: absolute;
    display: block;
    width: 30vw;
    left: 600px;
    top: 2300px;
}

#image4 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 30vw;
    left: 100px;
    top: 3500px;
    z-index: -4;
}

#hover4 {
    position: absolute;
    display: block;
    width: 30vw;
    left: 100px;
    top: 3500px;
}

#image5 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 40vw;
    right: 100px;
    top: 3050px;
    z-index: -5;
}

#hover5 {
    position: absolute;
    display: block;
    width: 40vw;
    right: 100px;
    top: 3050px;
}

#image6 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 40vw;
    margin: auto;
    left: 0;
    right: 0;
    top: 4275px;
    z-index: -6;
}

#hover6 {
    position: absolute;
    display: block;
    width: 40vw;
    margin: auto;
    left: 0px;
    right: 0;
    top: 4275px;
}

#image7 {
    position: absolute;
    display: block;
    aspect-ratio: auto;
    width: 30vw;
    right: 100px;
    top: 5000px;
    z-index: -6;
    padding-bottom: 100px;
}

#hover7 {
    position: absolute;
    display: block;
    width: 30vw;
    right: 100px;
    top: 5000px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
}

#blurb {
    position: absolute;
    left: 100px;
    top: 750px;
    width: 50vw;
}

.texthover {
    animation: textTranslateDown 1s ease forwards infinite;
}

@keyframes textTranslateDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px);
    }
}
