html {
    background: rgb(173,213,239);
    background: linear-gradient(180deg, rgba(173,213,239,1) 0%, rgba(187,196,253,1) 100%);
    background-repeat: no-repeat;
    transition: background-color 5s easeIn;
}

html:hover {
    background: rgb(183,201,250);
    background: linear-gradient(180deg, rgba(183,201,250,1) 0%, rgba(255,186,198,1) 100%);
}

body {
    max-width: 1200px;
    margin: auto;
}

#moon {
    margin-top: auto;
    margin-bottom: auto;
}

#banner {
    width: 1100px;
    height: 250px;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    color: #414673;
    margin: auto;
    display: flex;
    justify-content: space-between;
    animation: animatedBackground 2s linear infinite alternate;
}

@keyframes animatedBackground {
    from {
        background-size: 100%;
    }

    to {
        background-size: 125%;
    }
}

main {
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #414673;
}

ul {
    padding: 0;
}

p, ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
    font-size: 18px;
    color: #414673;
}

ul li a {
    text-decoration: none;
    color: #414673;
    line-height: 1.6em;
}

article {
    width: 33%;
    text-align: center;
}

#duck {
    background-image: url(images/cloud1.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

#bunny {
    background-image: url(images/cloud2.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

#bear {
    background-image: url(images/cloud3.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.animal:hover img {
    cursor:pointer;
    animation: animalTranslateUpandDown 1s ease forwards;
}

@keyframes animalTranslateUpandDown {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-25px);
    }
    75% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes animalTranslateDown {
    from {
        tranform: translateY(-25px)
    }
    to {
        tranform: translateY(0px)
    }
}


