body, html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(160deg, #B7C9FA, #FFBADF, #79D6F8, #ADD5EF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

article {
    margin: auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#banner {
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: top;
    color: #414673;
    padding: 10px 0 0 20px;
    animation: animatedBackground 2s linear infinite alternate;
    display: flex;
    justify-content: space-around;
}

#moon {
    padding: 10px 20px 0 0;
}

@keyframes animatedBackground {
    from {
        background-size: 100%;
    }

    to {
        background-size: 125%;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #414673;
    font-size: 36px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #414673;
    font-size: 24px;
}

ul {
    padding: 0;
}

p, ul li {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #414673;
}

ul li a {
    text-decoration: none;
    color: #414673;
    line-height: 1.6em;
}

article {
    width: 30%;
    text-align: center;
}

#duck {
    background-image: url(images/cloud1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#bunny {
    background-image: url(images/cloud2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

#bear {
    background-image: url(images/cloud3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.animal {
    padding-top: 50px;
}

.animal:hover img {
    cursor:pointer;
    animation: animalTranslateUpandDown 1s ease forwards infinite;
}

@keyframes animalTranslateUpandDown {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-25px);
    }
    75% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

footer {
    background-image: url(images/footermobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer p {
    text-align: center;
    padding: 100px 0 25px 0;
    margin-top: 0;
}

@media only screen and (min-width: 600px) {
    article {
        margin: 0;
        max-width: 25vw;
    }
    
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        text-align: left;
        color: #414673;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #414673;
    }

    #banner {
        background-image: url("images/banner.png");
        display: flex;
        justify-content: space-between;
        width: 1100px;
        height: 250px;
        margin: auto;
        max-width: 1200px;
    }

    main {
        margin: auto;
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }

    footer {
        background-image: url(images/footer.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 150px;
    }

    footer p {
        padding-top: 100px;
        text-align:center;

    }

    #moon {
        margin-top: auto;
        margin-bottom: auto;
    }
}