body {
    background-color: #D2DCC4;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: #59714B;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #59714B;
    padding-top: 25px;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    color: #000;
    width: 60vw;
    display: block;
    margin: auto;
    line-height: 1.6em;
    padding: 10px 0;
}

.buttons {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    /* top: calc(50%);
    left: calc(50%); */
    display: flex;
    justify-content: center;
}

#actions {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}


#overlay {
    position: absolute;
    background-color: #F8F1F1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    transition-timing-function: ease;
    z-index: 1;
}

#overlay article {
    box-sizing: border-box;
    background-color: #F8F1F1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    border-radius: 10px;
}

#overlay article p {
    width: 75vw;
}

#playgame {
    display: block;
    margin: auto;
}

.cta, #rollagain, #roll {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #59714B;
    border-radius: 5px;
    margin: 15px;
}

button, #pass {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #59714B;
    background-color: #fff;
    border-radius: 5px ;
    margin: 15px;
}

.pig {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 50px;
    width: 50vw;
}

#gamecontrol {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#game p {
    text-align: center;
    padding-top: 0;
}

#game {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#diceRolled {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 110%;
    text-align: center;
    /* top: calc(50% - 150px);
    left: calc(50% - 150px); */
    justify-content: center;
}

#dice {
    width: 15vw;
    aspect-ratio: auto;
    margin: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #59714B;
    width: 100vw;
}

#score {
    display: flex;
    justify-content: space-between;
}

#score p {
    color: #fff;
}

#player1score {
    text-align: left;
    margin-left: 25px;
}

#player2score {
    text-align: right;
    margin-right: 25px;
}

.nomargin {
    margin-left: 0;
    margin-right: 0;
}

#instructions {
    position: static;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 74px;
        position: absolute;
        top: 2%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    h2 {
        padding-top: 0;
        position: absolute;
        top: 20%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    #overlay {
        background-color: #D2DCC4;
    }
    
    #overlay article {
        padding: 20px;
        width: 50vw;
        height: 75vh;
    }

    #overlay article p {
        width: 40vw;
    }

    #dice {
        width: 5vw;
    }

    .pig {
        width: 15vw;
    }
}