html {
    scroll-behavior: smooth;
}

body {
    /* margin: auto; */
    height: 100vh;
}

article {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90vw;
    border-radius: 10px;
}

article h1, h2, h3, p, date, figcaption {
    width: 75vw;
    margin: auto;
}

date, figcaption {
    display: block;
    margin: auto;
    padding: 10px 0;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: #000;
    font-size: 36px;
}

h2 {
    font-family: 'Fraunces', serif;
    font-weight: 500;
    color: #000;
    font-size: 24px;
    padding: 25px 0;
}

ul {
    padding: 0;
}

p, ul li, date, figcaption {
    list-style-type: none;
    font-family: 'Lora', serif;    
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

p {
    line-height: 1.6em;
    text-align: left;
    padding-bottom: 25px;
}

img {
    box-sizing: border-box;
    max-width: 75vw;
    display: block;
    margin: auto;
    padding: 50px 0;
}

@media only screen and (min-width: 600px) {
    article {
        /* margin: auto; */
        width: 75vw;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 24px;
        padding-top: 20px;
    }

    article h1, article h2, h3, p, figcaption, date {
        width: 50vw;
    }

    p, ul li, date, figcaption {
        font-size: 18px;
    }

    img {
        width: 50vw;
    }
}