html {
    scroll-behavior: smooth;
    background-image: url(../images/star-background.jpg);
}

body {
    /* margin: auto; */
    height: 100vh;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 0;
    background-color: aliceblue;
    /* backdrop-filter: blur(10px); */
    -webkit-box-shadow: 0px 0px 20px 0px rgba(183,201,250,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(183,201,250,1);
    box-shadow: 0px 0px 20px 0px rgba(183,201,250,1);
    width: 90vw;
    border-radius: 10px;
}

article h2, h3, p, date {
    width: 75vw;
    margin: auto;
}

date {
    display: block;
    margin: auto;
    padding: 10px 0;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #414673;
    font-size: 36px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #414673;
    font-size: 30px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #414673;
    font-size: 24px;
    padding: 25px 0;
}

ul {
    padding: 0;
}

p, ul li, date {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #414673;
}

p {
    line-height: 1.6em;
    text-align: left;
}


ul li a {
    text-decoration: none;
    color: #414673;
    line-height: 1.6em;
}

img {
    box-sizing: border-box;
    max-width: 75vw;
    display: block;
    margin: auto;
    padding: 50px 0;
}

@media only screen and (min-width: 600px) {
    article {
        /* margin: auto; */
        width: 50vw;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 50px;
        text-align: left;
        color: #414673;
    }

    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #414673;
        font-size: 36px;
    }
    
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #414673;
        font-size: 24px;
        padding-top: 20px;
    }

    article h2, h3, p {
        width: 30vw;
    }

    p, ul li, date {
        list-style-type: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #414673;
    }

    img {
        max-width: 40vw;
    }

    date {
        width: 30vw;
    }
}