body {
    background-color: #000;
    z-index: -5;
    height: 5500px;
}

#long-div {
    height: 5500px;
    width: 10px;
    z-index: -4;
}

main {
    max-width: 600px;
}

.one {
    transition: all 1s;
}

.two {
    transition: all 1s;
}

.caption {
    opacity: 0;
    transition: all 0.5s ease-in;
}

#overlay {
    position: fixed;
    left: calc(50% - 300px);
    top: 0;
    z-index: 0;
    animation: opacity 5s ease forwards;
}

#camera {
    width: 600px;
}

@keyframes opacity {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

#section1 {
    position: absolute;
    right: 10vw;
    top: 1500px;
}

#image1 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section2 {
    position: absolute;
    left: 10vw;
    top: 2250px;
}

#image2 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section3 {
    position: absolute;
    left: 20vw;
    top: 2800px;
}

#image3 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section4 {
    position: absolute;
    left: 10vw;
    top: 4100px;
}

#image4 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section5 {
    position: absolute;
    right: 10vw;
    top: 3550px;
}

#image5 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section6 {
    position: absolute;
    top: 4775px;
    right: 20vw;
}

#image6 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

#section7 {
    position: absolute;
    right: 10vw;
    top: 5500px;
    padding-bottom: 100px;
}

#image7 {
    display: block;
    width: 20vw;
    cursor: pointer;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    color: #000;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
}

#blurb {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    margin: auto;
    text-align: center;
    position: relative;
    padding-top: 50px;
    z-index: -1;
}

#intro h1 {
    display: inline-block;
    animation: introScaleTranslate 1.5s ease forwards;
    animation-delay: 1.5s;
    height: 100vh;
    pointer-events: none;
    font-weight: 300;
}

#film {
    font-family: 'Fraunces', serif;
    font-weight: 600;
}

article {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 1s ease, visibility 1s ease;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

@keyframes introScaleTranslate {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-30%) scale(0.75);
    }
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}

article h1 {
    font-family: 'Fraunces', serif;
    font-size: 48px;
    font-weight: 600;
    color: #000;
    text-align: left;
    position: relative;
    top: 33%;
    left: 5vw;
    margin: 0;
}

article h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000;
    text-align: left;
    position: relative;
    top: 33.5%;
    left: 5vw;
}

article p {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    text-align: left;
    position: relative;
    top: 34%;
    left: 5vw;
    width: 33vw;
}

button {
    z-index: 10;
    position: relative;
    top: 40%;
    left: 5vw;
    cursor: pointer;
    font-family: 'DM sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border-radius: 5px ;
}

@keyframes introScaleTranslate {
    0% {
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(-50%) scale(0.5);
    }
}

#blurb {
    padding-top: 25px;
}

.imageScale1  {
    animation: imageScale1 1s ease forwards;
}

@keyframes imageScale1 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.imageScaleDown1  {
    animation: imageScaleDown1 1s ease forwards;
}

@keyframes imageScaleDown1 {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.imageScale2  {
    animation: imageScale2 1s ease forwards;
}

@keyframes imageScale2 {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1.5) translateX(35vw);
    }
}

.imageScaleDown2  {
    animation: imageScaleDown2 1s ease forwards;
}

@keyframes imageScaleDown2 {
    0% {
        transform: scale(1.5) translateX(35vw);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

.imageScale3  {
    animation: imageScale3 1s ease forwards;
}

@keyframes imageScale3 {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1.5) translateX(30vw);
    }
}

.imageScaleDown3  {
    animation: imageScaleDown3 1s ease forwards;
}

@keyframes imageScaleDown3 {
    0% {
        transform: scale(1.5) translateX(30vw);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

.imageScale4 {
    animation: imageScale2 1s ease forwards;
}

.imageScaleDown4  {
    animation: imageScaleDown2 1s ease forwards;
}

.imageScale5  {
    animation: imageScale1 1s ease forwards;
}

.imageScaleDown5  {
    animation: imageScaleDown1 1s ease forwards;
}


.imageScale6  {
    animation: imageScale6 1s ease forwards;
}

@keyframes imageScale6 {
    0% {
        transform: scale(1) translateX(0);
    }
    100% {
        transform: scale(1.5) translateX(6vw);
    }
}

.imageScaleDown6  {
    animation: imageScaleDown6 1s ease forwards;
}

@keyframes imageScaleDown6 {
    0% {
        transform: scale(1.5) translateX(6vw);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

.imageScale7  {
    animation: imageScale1 1s ease forwards;
}

.imageScaleDown7  {
    animation: imageScaleDown1 1s ease forwards;
}

.nooverflow {
    overflow: hidden;
}